TIMEOUT = 8
HOST = https://crop-monitoring.eos.com

GMAIL_USER_ID = test.qa98989@gmail.com
CLIENT_ID = 234858541220-gf1r7lipcbmj8oftiuqr8fgqaqr4cmns.apps.googleusercontent.com
CLIENT_SECRET = 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
REFRESH_TOKEN = 1//0cwWV0CgiikbdCgYIARAAGAwSNwF-L9IrkZjur8dRJn9uyATW4QopFcIChmP1ScQ4lU4Q4DIqo09JUT30vhAu_MMbrTPwGLtWVRc
TOKEN_URI = https://oauth2.googleapis.com/token